<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">{{beds}} beds in {{location}}</a></div>
            </div>
        </nav>
        <div class="row" style='margin:0;'>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#list">List</a></li>
                    <li class="tab col s3"><a class='active' href="#photos">Photos</a></li>
                    <li class="tab col s3"><a href="#map">Map</a></li>
                </ul>
            </div>
            <div id="list" class="col s12">List View Goes Here</div>
            <div id="photos" class="col s12" style='padding:0;'>
                {{#if properties.length}}
                {{#each properties}}
                <a href='/app/property/{{guid}}' class='col s12 m6 l3' style='padding:0;margin:0;'>
                    <div class='property' style='width:100%;position:relative;' data-propId='{{guid}}'>
                        <img src='{{img_url}}' style='width:100%;'/>
                        <div class='white-text' style='position:absolute;bottom:0;padding-left:10px;padding-bottom:10px;max-width:80%;'>
                            <span class='title flow-text truncate' style='font-size:1.5em;background: rgba(0,0,0,0.3);'>{{title.split(',')[0]}}</span><br />
                            <span class='price flow-text truncate' style='font-weight:bold;background: rgba(0,0,0,0.3);'>{{price_formatted}}</span>
                        </div>
                        <div class='white-text buttons' style='position:absolute;bottom:0;padding-right:10px;padding-bottom:10px;right:0;font-size:2.5em;'>
                            <i class='mdi-content-clear'></i>
                            <i class='mdi-social-mood {{saved?'saved':''}}'></i>
                        </div>
                    </div>
                </a>
                {{/each}}

                {{else}}
                <h3 class='flow-text'>There don't seem to be any properties that match your query at the moment.</h3>
                {{/if}}
            </div>
            <div id="map" class="col s12">Map View Goes Here</div>
        </div>

        <script src='/jquery.js'></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    </body>
    <script>
        $('.mdi-content-clear').on('click', function(e){
            $.post('/app/removeProp',{
                guid:$(e.target).closest('.property').attr('data-propId'),
                userId:localStorage.userId
            });
            $(e.target).closest('.property').animate({
                height:'toggle',
                opacity:'toggle'
            }, 300);
        });
        $('.mdi-social-mood').on('click', function(e){
            e.stopPropagation();
            e.preventDefault();
            if($(e.target).is('.saved')){
                $.post('/app/unSave',{
                    guid:$(e.target).closest('.property').attr('data-propId'),
                    userId:localStorage.userId
                });
                $(e.target).closest('.mdi-social-mood').removeClass('saved');
            } else {
                $(e.target).closest('.mdi-social-mood:not(.saved)').addClass('saved');
                $.post('/app/saveProp',{
                    guid:$(e.target).closest('.property').attr('data-propId'),
                    userId:localStorage.userId,
                    name:$(e.target).closest('.property').find('.title').text(),
                    image:$(e.target).closest('.property').find('img').eq(0).attr('src')
                });
            }
        });
    </script>

    <style>
        .saved {
            color:#F7E634;
        }
        .mdi-social-mood, .mdi-content-clear {
            cursor:pointer;
        }
    </style>
</html>
